<footer class="bg-primary-dark border-top border-white-10">
  <div class="container">
    <div class="row content-space-1">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <!-- Logo -->
        <div class="mb-5">
          <a class="navbar-brand" href="@@autopath/index.html" aria-label="GIRSU">
            <img class="navbar-brand-logo" src="@@autopath/custom/custom-img/logos/gestion-imagotipo-blanco.png" alt="Odoo GIRSU">
          </a>
        </div>
        <!-- End Logo -->

<!--        <span class="d-block">-->
<!--          <label for="selectLanguage" class="form-label text-white">Choose language</label>-->
<!--        </span>-->
          
        <!-- Button Group -->
<!--        <div class="btn-group">-->
<!--          <button type="button" class="btn btn-soft-light btn-sm dropdown-toggle" id="selectLanguage" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <span class="d-flex align-items-center">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>-->
<!--              <span>English (US)</span>-->
<!--            </span>-->
<!--          </button>-->

<!--          <div class="dropdown-menu">-->
<!--            <a class="dropdown-item d-flex align-items-center active" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>-->
<!--              <span>English (US)</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/gb.svg" alt="Image description" width="16"/>-->
<!--              <span>English (UK)</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/de.svg" alt="Image description" width="16"/>-->
<!--              <span>Deutsch</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/dk.svg" alt="Image description" width="16"/>-->
<!--              <span>Dansk</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/es.svg" alt="Image description" width="16"/>-->
<!--              <span>Español</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/nl.svg" alt="Image description" width="16"/>-->
<!--              <span>Nederlands</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/it.svg" alt="Image description" width="16"/>-->
<!--              <span>Italiano</span>-->
<!--            </a>-->
<!--            <a class="dropdown-item d-flex align-items-center" href="#">-->
<!--              <img class="avatar avatar-xss avatar-circle me-2" src="@@autopath/node_modules/flag-icon-css/flags/1x1/cn.svg" alt="Image description" width="16"/>-->
<!--              <span>中文 (繁體)</span>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
        <!-- End Button Group -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <span class="text-cap link-light">Páginas</span>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="@@autopath/index.html">Inicio</a></li>
<!--   TODO:       <li><a class="link-sm link-light" href="@@autopath/documentation/custom-index.html">Documentación</a></li>-->
          <li><a class="link-sm link-light" href="@@autopath/custom-page-contacts.html">Contacto</a></li>
          <li><a class="link-sm link-light" href="http://144.126.220.227:8069/web/login" target="_blank">Demo <i class="bi-box-arrow-up-right ms-1"></i></a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class="col-sm mb-7 mb-sm-0">
        <span class="text-cap link-light">Características</span>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-0">
<!--          <li><a class="link-sm link-light" href="#">Contabildad y Facturación <i class="bi-box-arrow-up-right ms-1"></i></a></li>-->
          <li><a class="link-sm link-light" href="@@autopath/custom-material-management.html">Gestión de materiales</a></li>
          <li><a class="link-sm link-light" href="@@autopath/custom-cooperative-management.html">Gestión Cooperativa</a></li>
          <li><a class="link-sm link-light" href="@@autopath/custom-general-features.html">Otras características</a></li>
<!--          <li><a class="link-sm link-light" href="#">Logística</a></li>-->
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->


      <div class="col-sm">
        <span class="text-cap link-light">Licencia</span>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-light" href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">Licencia <i class="bi-box-arrow-up-right ms-1"></i></a></li>
        </ul>

        <!-- End List -->
        <span class="text-cap link-light">Desarrolladores</span>

        <!-- List -->
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-light" href="https://abastosoftware.ar" target="_blank">Abasto Software S.R.L. <i class="bi-box-arrow-up-right ms-1"></i></a></li>
        </ul>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class="border-top border-white-10"></div>

    <div class="row align-items-md-end py-5">
      <div class="col-md mb-3 mb-md-0">
        <p class="text-white mb-0">© Abasto Software S.R.L. powered by Space. 2021 Htmlstream. All rights reserved.</p>
      </div>

      <div class="col-md d-md-flex justify-content-md-end">
        <!-- Socials -->
        <ul class="list-inline mb-0">
<!--          <li class="list-inline-item">-->
<!--             <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">-->
<!--             <i class="bi-facebook"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">-->
<!--            <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">-->
<!--              <i class="bi-twitter"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">-->
<!--            <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">-->
<!--              <i class="bi-github"></i>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="list-inline-item">-->
<!--            <a class="btn btn-icon btn-sm btn-soft-light rounded-circle" href="#">-->
<!--              <i class="bi-slack"></i>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <!-- End Socials -->
      </div>
    </div>
  </div>
</footer>